<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<div class="container" th:fragment="searchBox">
		<div class="row">
			<div class="col">
				<form id="local-search" name="local-search" th:action="@{search}"
					method="get">
					<fieldset>
						<div class="form-group">
							<input class="form-control input-lg" type="text" name="term" id="local-searchbox"
								placeholder="Search" value="" />
<!-- 							<div class="input-group-append">
								<input type="submit" class="btn btn-outline-secondary"
									value="search" />
							</div> -->
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
		<div class="col">
		<span>Example searches: <a th:href="@{search(term=chembl22)}">chembl22</a>, <a th:href="@{search(term=patient)}">patient</a></span>,</span>
		or <a th:href="@{search(term=eas)}">eas</a>. To see a list of resources based on their type use the menu above.</span>
		</div>
		</div>
	</div>


	<!--  BOOTSTRAP, JQUERY ETC -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>